:root{
    --primary-color: #0D7C66;
    --dark-bg-color: #1a1a1a;
    --hover-bg-color: #555;
    --hover-text-color: #fff;

    /*fonts*/
    --redhat: "Red Hat Display", sans-serif;
}
a{
    transition: 0.2s;
}

.root{
    width: 100%;
    max-width: 2000px;
    margin: 0px auto;
}
header{
    height: 101px;
    display: flex;
    align-items: end;
    margin: 0px 70px;
    border-bottom: 3px solid #757575;
}
header > a{
    text-decoration: none;
    color: black;
    font-family: var(--redhat);
    font-weight: 700;
}
header > a:hover{
    opacity: 0.6;
}
header  h2{
    font-weight: 700;
    font-size: 28px;
    font-family: var(--redhat);
}
header  h2 > span{
    font-weight: 400;
}
main{
    position: relative;
}

.presentation{
    margin: 0px 70px;
    margin-bottom: 100px;
}
.mon-title{
    margin-top: 70px;
    font-size: 80px;
    font-family: var(--redhat);
    text-transform: uppercase;
    font-weight: 900;
    max-width: 700px;
}
.presentation > p{
    font-size: 24px;
    font-family: var(--redhat);
    max-width: 800px;
}
.presentation > p a{
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.presentation> p a:hover{
    opacity: 0.6;
}
.link-btn{
    background-color: var(--primary-color);
    padding: 20px 40px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    display: block;
    width: fit-content;
}
.link-btn:hover{
    opacity: 0.7;
}
.presentation > .link-btn{
    margin-top: 50px;
}

.rep-info{
    width: 100%;
    min-height: 100px;
    background-color: var(--primary-color);
    padding: 0px 70px;
    color: white;
    display: flex;
    justify-content: center;
}
.meet-item{
    border: 2px solid;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}
.rep-text{
    width: 260px;
}
.rep-text p{
    font-size: 18px;
}
.rep-text h2{
    font-weight: 900;
    font-family: var(--redhat);
}
.rep-box{
    min-width: 400px;
    max-width: calc(100% - 400px);
    gap: 20px;
    justify-content: space-evenly;
}
.rep-box .item{
    width: 360px;
    border: 3px solid;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000021;
    /*height: fit-content;
    padding-bottom: 30px;*/
}
.rep-box .item a{
    background: white;
    color: #383838;
    padding: 5px 16px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    display: block;
    width: fit-content;
    margin-top: 30px;
    transition: 0.2s;
}
.rep-box .item a:hover{
    background-color: rgba(255, 255, 255, 0.623);
}
.rep-link{
    width: 100%;
    display: flex;
    justify-content: center;
}
.rep-link a{
    background: white;
    padding: 7px 50px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-family: var(--redhat);
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.self-present{
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    padding: 20px;
}
.self-present .info{
    width: 60%;
}
.self-present .info h2{
    font-size: 40px;
    font-family: var(--redhat);
    font-weight: 900;
}
.self-present .info h4{
    font-size: 22px;
    font-family: var(--redhat);
    font-weight: 700;
    color: var(--primary-color);
    padding-bottom: 20px;
    border-bottom: 2px solid;
    margin-bottom: 20px;
}
.self-present .info p{
    font-size: 18px;
    text-align: justify;
    font-family: var(--redhat);
    margin-top: 20px;
}
.image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.self-present .image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
footer{
    height: 300px;
    margin-top: 100px;
    position: relative;
}
.row-bottom{
    background: var(--primary-color);
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.row-bottom p{
    font-size: 20px;
    font-weight: 200;
    color: white;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 20px;
    min-height: 300px;
    height: fit-content;
    background: white;
    box-shadow: 0px 10px 10px #00000021;
    bottom: 50px;
    margin: 0px 50px;
    width: calc(100% - 100px);
    position: absolute;
}
.contact-cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 260px;
}
.contact-cell .icon{
    width: 65px;
    height: 65px;
    background: var(--primary-color);
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-cell .icon svg{
    width: 23px;
    height: 23px;
}
.contact-cell h3{
    text-transform: uppercase;
    font-family: var(--redhat);
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
}
.contact-cell a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-family: var(--redhat);
}
.contact-cell a:hover{
    opacity: 0.6;
}
/*.meet-item{
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
}*/

@media (max-width: 991.98px) {
    footer{
        margin-top: 165px;
    }
    .mon-title{
        font-size: 50px;
    }
    .presentation > p{
        font-size: 20px;
    }
    .link-btn{
        font-size: 18px;
        padding: 20px 30px;
    }
    .self-present{
        flex-direction: column;
        padding: 30px;
    }
    .self-present .info{
        width: 100%;
    }
    .self-present .image{
        width: 100%;
    }
}
@media (max-width: 767.98px){
    header{
        margin: 0px 30px;
    }
    .presentation{
        margin: 0px 30px;
        margin-bottom: 80px;
    }
    .presentation > p{
        font-size: 18px;
    }
    .mon-title{
        font-size: 32px;
    }
    .meet-item{
        width: 150px;
    }
    .meet-item p{
        font-size: 14px;
    }
    .link-btn{
        font-size: 16px;
        padding: 15px 25px;
    }
    .rep-info{
        padding: 0px 30px;
        padding-bottom: 40px;
        flex-direction: column;
    }
    .rep-box {
        padding: 0px !important;
        width: 100%;
        min-width: 0;
        max-width: none;
        padding-bottom: 50px !important;
    }
    .rep-box .item{
        width: 100%;
        min-width: 0;
    }
    .rep-text{
        width: 100%;
    }
    .rep-text p{
        font-size: 16px;
    }
    .row-bottom p{
        font-size: 16px;
    }
    .contact{
        bottom: 100px;
        margin: 0px 20px;
        width: calc(100% - 40px);
    }
    footer{
        margin-top: 350px;
    }
}